<a href="https://colab.research.google.com/github/Ovizero01/Python-for-ML/blob/main/013_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
# You must run this code and use that data set for all the questions
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

In [42]:
import numpy as np

# Create NumPy arrays from the ages and salaries data generated above. Print both arrays and display their dtype, ndim, shape, and size.

In [43]:
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
print(f"Ages dtype: {ages.dtype}")
print(f"Ages ndim: {ages.ndim}")
print(f"Ages shape: {ages.shape}")
print(f"Ages size: {ages.size}")
print(f"Salaries dtype: {ages.dtype}")
print(f"Salaries ndim: {salaries.ndim}")
print(f"Salaries shape: {salaries.shape}")
print(f"Salaries size: {salaries.size}")

Ages dtype: int64
Ages ndim: 1
Ages shape: (10,)
Ages size: 10
Salaries dtype: int64
Salaries ndim: 1
Salaries shape: (10,)
Salaries size: 10

# Using the salaries array, find and print the highest and lowest salary values. Also, calculate and print the average salary and age using NumPy functions.

In [44]:
highest_salary = np.max(salaries)
lowest_salary = np.min(salaries)
print(f"Highest Salary: {highest_salary}")
print(f"Lowest Salary: {lowest_salary}")
average_salary = np.average(salaries)
average_age = np.average(ages)
print(f"Average Salary: {average_salary}")
print(f"Average Age: {average_age}")

Highest Salary: 86886
Lowest Salary: 30189
Average Salary: 56256.7
Average Age: 41.1

# From the ages array, filter and print all ages greater than 30 using a boolean condition. Then count and print how many employees are older than 30.

In [45]:
greater_than_30 = ages[ages > 30]
print(greater_than_30)
cnt = np.count_nonzero(greater_than_30)
print(f"{cnt} employees are older than 30")

[38 50 39 42 44 59 45 33 32]
9 employees are older than 30

# Create a new NumPy array that increases every employeeâ€™s age by 5 years (without modifying the original array). Print the new updated ages array.

In [46]:
new_age = ages + 5
print(f"Original Ages Array: {ages}")
print(f"New Updated Ages Array: {new_age}")

Original Ages Array: [38 50 29 39 42 44 59 45 33 32]
New Updated Ages Array: [43 55 34 44 47 49 64 50 38 37]

# Using NumPy, calculate the total salary expense (sum of all salaries) and the difference between the maximum and minimum salary. Print both results.

In [47]:
print(f"Total Salary Expense: {np.sum(salaries)}")
print(f"Difference between maximum and minimum salary: {np.max(salaries) - np.min(salaries)}")

Total Salary Expense: 562567
Difference between maximum and minimum salary: 56697

In [48]:
import pandas as pd

# Load the employees.csv file into a Pandas DataFrame. Display the first 5 rows, and check basic info using info() and summary statistics using describe().

In [49]:
df = pd.read_csv('employees.csv')
print("First 5 rows: ")
print(df.head())
print("\nBasic Info: ")
print(df.info())
print("\nSummary: ")
print(df.describe())

First 5 rows:
   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR

Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
None

Summary:
             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

# Display only the id, age, and salary columns. Then show the last 3 rows using tail().

In [50]:
print("Dislaying id, age and salary columns: ")
print(df.loc[:,['id', 'age', 'salary']])
print("\nLast 3 rows: ")
print(df.tail(3))

Dislaying id, age and salary columns:
   id  age  salary
0   1   56   77191
1   2   46   74131
2   3   32   46023
3   4   25   71090
4   5   38   31685
5   6   56   30769
6   7   36   89735
7   8   40   86101
8   9   28   32433
9  10   28   35311

Last 3 rows:
   id  age  salary   dept
7   8   40   86101     IT
8   9   28   32433  Sales
9  10   28   35311     HR

# Filter the DataFrame to show only employees who work in the IT department. Print the result and show the total number of IT employees.

In [51]:
filter = df.loc[df['dept'] == 'IT']
print(filter)
print(f"\nTotal number of IT employees: {len(filter)}")

   id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT

Total number of IT employees: 3

# Sort the DataFrame by salary in descending order and display the top 3 highest-paid employees along with their department and age.

In [52]:
sort_by_salary = df.sort_values(['salary'], ascending = False)
sort_by_salary.head(3)

   id  age  salary     dept
6   7   36   89735  Finance
7   8   40   86101       IT
0   1   56   77191       HR

# Replace all salary values greater than 80000 with 80000 using loc. Then calculate and print the new average salary of all employees after replacement.

In [54]:
df.loc[df['salary'] > 80000, 'salary'] = 80000
print(f"New Average Salary: {df['salary'].mean()}")

New Average Salary: 55863.3